// media queries:
$mobileWidth: 576px;
$samllWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1200px;

// colors:
$mainColor: #e6e6e6;
$whiteColor: #ffffff;
$blackColor: #000;
$greyColor: #555;

// fix values:
$radius: 0.5rem;
$defaultFont: 1rem;
$generalPadding: 80px;
